/* 
Autor: Adriana Barros
Data: 16/07/2021
Versão: 1.2
Comentário: Website criado para a UFCD Edição Web.
*/

/* Global Style */

 :root {
    font-size: 16px;
    --titulos: 'Tomorrow', Arial, Helvetica, sans-serif; 
    --subtitulos: 'Tomorrow', Arial, Helvetica, sans-serif;
    --texto: 'Titillium Web', Arial, Helvetica, sans-serif;

    /* Cores (Tá desorganizado, mas estamos a trabalhar nisto... haha)  */

    --bg-dark: #060624;
    --sombra-um: #4D4D61;
    --claro-um: #6B6BC7;
    --claro-dois: #AFAFED;
    --title-primary: #F2F2F2;
    --title-secondary: #9714CD;
    --escuro-um: #544D61;
    --escuro-dois: #1C1624;
    --escuro-tres: #CBB6DB;
    --bg-accent: #4db9e5;
    --text: #CDBFE3;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--title-primary);
}

p {
    color: var(--title-secondary);
    font-family: var(--texto);
}

/* header Style */

header {
    width: 100%; 
    height: 10%;
    margin: 0 auto;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px 5px rgba(6,6,36, 0.1);
    z-index: 99999;
 }

#Home {
    background-color: var(--bg-dark)
}

#nav {
    background-color: var(--title-secondary);
}

header a {
    margin-left: 10%;
    text-decoration: none;
    align-self: center;
}

header a h1 {
    font-family: var(--titulos);
    font-size: 1.5rem;
    color: var(--title-primary);
}


/* header Style End */

/* Main Style Begin */


    /* homepage Style */



#hero-image {
    height: 95vh;
}



#hero-image img {
    width: 45%;
    position: relative;
    top: 25%;
    left: 10%;
}

#hero-image div {
    position: relative;
    top: 10%;
    right: 15%;
    display: inline-block;
    float: right;
    clear: right;
}

#hero-image div h2 {
    padding-top: 9.5%;
    padding-left: 10%;
    font-family: var(--titulos);
    font-size: 4rem;
    color: var(--title-primary);
}

#hero-image div p {
    
    padding-left: 10.5%;
    font-family: var(--subtitulos);
    font-size: 1rem;
    color: var(--claro-um);
}

#bg-one {
    background-color: var(--title-secondary);
    padding: 5px 5px;
    margin-left: 5px;
    line-height: 6rem;
}

    /* Animações Start */

    @keyframes flutuar {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-20px);
        }
        100% {
            transform: translatey(0px);
        } 
    }
    
    .animacao {
        animation-name: flutuar;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    
    .grow {
        transition: transform 330ms ease-in-out;
    }
    
    .grow:hover {
        transform: scale(1.1);
    }


/* Buttons  Style Begin */

#btn-home {
    margin-left: 10.5%;
    margin-top: 6%;
    padding: 1rem 4rem;
    background-image: radial-gradient( circle 485px at 51.5% -6.3%,  rgba(77,185,229,1) 0%, rgba(109,46,213,1) 95.7% );
    cursor: pointer;
    border: none;
    font-family: var(--texto);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--title-primary);
    box-shadow: 0 0 30px 5px rgba(77, 185, 229, 0.7);
}

#btn-home:hover {
    background-image: radial-gradient( circle 485px at 51.5% -6.3%,  rgba(109,46,213,1) 0%, rgba(77,185,229,1) 95.7% );
    box-shadow: 0 0 30px 5px rgba(77, 185, 229, 1);
}

/* Media Queries*/
@media screen and (max-width: 1024px) {
    #hero-image {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    #hero-image div {
        display: flex;
        flex-direction: column;
        right: -5%;
        top: 30vh;
    }
    #hero-image img {
        box-sizing: border-box;
        position:relative;
        top: 50vh;
        width: 65%;
        padding: 10% 0;
    }
    #btn-home {
        display: block;
    }
}
@media screen and (max-width: 700px) {
    main {
        padding-right: 10%;
    }
    #hero-image div {
        width: 81%;
    }
    #hero-image div h2 {
        font-size: 2.5rem;
    }
    #hero-image div p {
        margin-top: -30px;
        margin-bottom: 50px;
    }
}